name: ci

on:
  push:
    branches:
      - master
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  nix:
    runs-on: ubuntu-latest
    permissions:
      id-token: "write"
      contents: "read"
    env:
      RUSTFLAGS: "-D warnings"
    strategy:
      fail-fast: false
      matrix:
        include:
          - command: develop -c cargo check --locked --all
          - command: develop -c cargo doc --all-features --locked --no-deps
          - command: develop -c cargo fmt --all -- --check
          - command: develop -c cargo test --locked --all
          - command: develop -c cargo test --no-default-features --locked --all
          - command: develop -c cargo test --all-features --locked --all
          # TODO: Re-enable this - currently failing due to getrandom wasm err.
          # - command: develop -c cargo build --target wasm32-unknown-unknown --locked --all-features --workspace
          - command: fmt -- --ci
          - command: flake check --all-systems
    steps:
      - uses: actions/checkout@v3
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@v13
      - uses: Swatinem/rust-cache@v2
      - run: nix ${{ matrix.command }}

  # TODO: Re-add this when `steel-core` is published so we can publish.
  # cargo-publish:
  #   runs-on: ubuntu-latest
  #   needs: cargo
  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: dtolnay/rust-toolchain@stable
  #     - uses: Swatinem/rust-cache@v2
  #     - uses: katyo/publish-crates@v2
  #       id: publish-crates
  #       with:
  #         registry-token: ${{ secrets.CRATESIO_TOKEN }}
  #         dry-run: ${{ github.event_name != 'push' }}
  #         ignore-unpublished-changes: true
  #     - name: List published crates
  #       if: ${{ steps.publish-crates.outputs.published != '' }}
  #       run: |
  #         LIST="${{ join(fromJSON(steps.publish-crates.outputs.published).*.name, ', ') }}"
  #         echo "Published crates: $LIST"
