name: ci

on:
  push:
    branches:
      - master
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  nix:
    permissions:
      id-token: "write"
      contents: "read"
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: "-D warnings"
      RUSTDOCFLAGS: "-D warnings"
    strategy:
      fail-fast: false
      matrix:
        include:
          - command: develop -c cargo check --locked --all
          - command: develop -c cargo doc --all-features --locked --no-deps
          - command: develop -c cargo fmt --all -- --check
          - command: develop -c cargo test --locked --all
          - command: develop -c cargo test --no-default-features --locked --all
          - command: develop -c cargo test --all-features --locked --all
          - command: fmt -- --ci
          - command: flake check --all-systems --no-update-lock-file
          - command: build --print-build-logs --no-update-lock-file .#gantz-website
    steps:
      - uses: actions/checkout@v5
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@v13
      - uses: Swatinem/rust-cache@v2
      - run: nix ${{ matrix.command }}

  upload-pr-preview-artifact:
    needs: nix
    if: github.event_name == 'pull_request' && github.event.action != 'closed'
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v5
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@v13
      - run: nix build --print-build-logs .#gantz-website
      - name: Prepare artifact
        run: |
          cp -rL result artifact
          chmod -R u+w artifact
          echo "${{ github.event.pull_request.number }}" > artifact/PR_NUMBER
      - uses: actions/upload-artifact@v4
        with:
          name: pr-preview-${{ github.event.pull_request.number }}
          path: artifact/

  cargo-publish:
    needs: nix
    permissions:
      id-token: "write"
      contents: "read"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@v13
      - uses: nicknovitski/nix-develop@v1
      - uses: Swatinem/rust-cache@v2
      - uses: katyo/publish-crates@v2
        id: publish-crates
        with:
          registry-token: ${{ secrets.CRATESIO_TOKEN }}
          dry-run: ${{ github.event_name != 'push' }}
          ignore-unpublished-changes: true
      - name: List published crates
        if: ${{ steps.publish-crates.outputs.published != '' }}
        run: |
          LIST="${{ join(fromJSON(steps.publish-crates.outputs.published).*.name, ', ') }}"
          echo "Published crates: $LIST"

  deploy-gantz-website:
    needs: nix
    if: github.ref == 'refs/heads/master'
    permissions:
      id-token: write
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@v13
      - run: nix build --print-build-logs .#gantz-website
      - uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./result
          keep_files: true
          exclude_assets: 'pr-preview'
